{% macro pie_chart(labels, values, colors) %}
    <div id="chart_id" style="height: 400px; width: 100%;"></div>

    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const chartLabels = {{ labels | tojson }}
            const chartValues = {{ values | tojson }}
            const chartColors = {{ colors | tojson }}  // Get colors passed from the view

            const options = {
                chart: {
                    type: 'pie',
                    height: '100%',
                    width: '100%'
                },
                series: chartValues,
                labels: chartLabels,
                colors: chartColors,  // Use dynamic colors
                legend: {
                    position: 'top'
                },
                responsive: [{
                    breakpoint: 1200,
                    options: {
                        chart: {
                            width: '80%'
                        }
                    }
                }, {
                    breakpoint: 768,
                    options: {
                        chart: {
                            width: '100%'
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            };

            const chart = new ApexCharts(document.querySelector("#chart_id"), options);
            chart.render();
        });
    </script>
{% endmacro %}
